Dual B.blueprint (2).json
{
    "name": "Dual B",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2537591,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "new123123123123"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "message",
                        "spec": [
                            {
                                "name": "timestamp",
                                "type": "number"
                            },
                            {
                                "name": "type",
                                "type": "text"
                            },
                            {
                                "name": "toolCalls",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "arguments",
                                                    "spec": [
                                                        {
                                                            "name": "last_utterance",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "toolCallList",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "arguments",
                                                    "spec": [
                                                        {
                                                            "name": "last_utterance",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "toolWithToolCallList",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "parameters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "required",
                                                            "spec": {
                                                                "type": "text"
                                                            },
                                                            "type": "array"
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "last_utterance",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        {
                                            "name": "server",
                                            "spec": [
                                                {
                                                    "name": "url",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "headers",
                                                    "spec": [],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        {
                                            "name": "messages",
                                            "type": "array"
                                        },
                                        {
                                            "name": "toolCall",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "function",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "arguments",
                                                            "spec": [
                                                                {
                                                                    "name": "last_utterance",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "artifact",
                                "spec": [
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "message",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "time",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "secondsFromStart",
                                                    "type": "number"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "messagesOpenAIFormatted",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "call",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "orgId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "createdAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "updatedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "monitor",
                                        "spec": [
                                            {
                                                "name": "listenUrl",
                                                "type": "text"
                                            },
                                            {
                                                "name": "controlUrl",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "transport",
                                        "spec": [
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "assistantVideoEnabled",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "callUrl",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "webCallUrl",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "assistantId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "assistantOverrides",
                                        "spec": [
                                            {
                                                "name": "metadata",
                                                "spec": [
                                                    {
                                                        "name": "sessionId",
                                                        "type": "text"
                                                    }
                                                ],
                                                "type": "collection"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "assistant",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "orgId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "voice",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "voiceId",
                                                "type": "text"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "stability",
                                                "type": "number"
                                            },
                                            {
                                                "name": "similarityBoost",
                                                "type": "number"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "createdAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "updatedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "model",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "toolIds",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array"
                                            },
                                            {
                                                "name": "messages",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "role",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "content",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number"
                                            },
                                            {
                                                "name": "tools",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "createdAt",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "updatedAt",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "function",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "parameters",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "required",
                                                                            "spec": {
                                                                                "type": "text"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        {
                                                                            "name": "properties",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "last_utterance",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                }
                                                                            ],
                                                                            "type": "collection"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        {
                                                            "name": "orgId",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "server",
                                                            "spec": [
                                                                {
                                                                    "name": "url",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "headers",
                                                                    "spec": [],
                                                                    "type": "collection"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "firstMessage",
                                        "type": "text"
                                    },
                                    {
                                        "name": "transcriber",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "language",
                                                "type": "text"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "serverMessages",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "maxDurationSeconds",
                                        "type": "number"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [
                                            {
                                                "name": "sessionId",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "ai-agent:RunAnAIAgent",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "88be1f2b-7222-48d3-bdb0-9413355e230e",
                "isAsync": false,
                "messages": [
                    "{{1.message.toolCalls[].function.arguments.last_utterance}}"
                ],
                "threadID": "",
                "scenarios": [],
                "additionalSystemPrompt": ""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "Message translation",
                            "nested": []
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "scenarios",
                        "type": "scenariolist",
                        "label": "Additional tools"
                    },
                    {
                        "name": "threadID",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "additionalSystemPrompt",
                        "type": "text",
                        "label": "Additional system instructions"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "isAsync",
                        "type": "boolean",
                        "label": "Continue scenario run while agent is working",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4632990
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.message.assistant.metadata.sessionId}}",
                            "o": "text:equal"
                        }
                    ],
                    [
                        {
                            "a": "A",
                            "b": "{{1.message.call.metadata.sessionId}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "1cJNXwuqGDY7MpGhM8xqNewsD3pVBrvgrg50ESmRdnZ4",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "duals"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (jessheaton001@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "SessionID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Control1 (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Control2 (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 23,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4632990
                            },
                            "filter": {
                                "name": "Second conenction",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.`2`}}",
                                            "b": "{{1.message.call.monitor.controlUrl}}",
                                            "o": "text:notequal:ci"
                                        },
                                        {
                                            "a": "{{25.`1`}}",
                                            "b": "{{1.message.call.monitor.controlUrl}}",
                                            "o": "text:notequal:ci"
                                        },
                                        {
                                            "a": "{{25.`__ROW_NUMBER__`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "2": "{{1.message.call.monitor.controlUrl}}"
                                },
                                "sheetId": "Sheet1",
                                "rowNumber": "{{25.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1cJNXwuqGDY7MpGhM8xqNewsD3pVBrvgrg50ESmRdnZ4",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "duals"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "SessionID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Control1 (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Control2 (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (jessheaton001@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "SessionID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Control1 (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Control2 (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "if second",
                                "conditions": []
                            },
                            "mapper": {
                                "body": "{\r\n  \"results\": [\r\n    {\r\n      \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\r\n      \"result\": \"You are now connected.\"\r\n    }\r\n  ]\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1524,
                                    "y": -15
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "b1",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.`2`}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{25.`1`}}",
                                            "b": "{{1.message.call.monitor.controlUrl}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{25.`2`}}/control",
                                "data": "{\r\n  \"type\": \"say\",\r\n  \"content\": \"{{22.response}}\",\r\n  \"endCallAfterSpoken\": false\r\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer 4baba820-16c2-4da4-9498-b7b25d0c7383"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 450
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 30,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 600
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 32,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"results\": [\r\n    {\r\n      \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\r\n      \"result\": \"Waiting for response.\"\r\n    }\r\n  ]\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "b2",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.`2`}}",
                                            "b": "{{1.message.call.monitor.controlUrl}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{25.`1`}}/control",
                                "data": "{\r\n  \"type\": \"say\",\r\n  \"content\": \"{{22.response}}.\",\r\n  \"endCallAfterSpoken\": false\r\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer 4baba820-16c2-4da4-9498-b7b25d0c7383"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1050
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 29,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 1200
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 31,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"results\": [\r\n    {\r\n      \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\r\n      \"result\": \"Waiting for response.\"\r\n    }\r\n  ]\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}